<a href="https://colab.research.google.com/github/akheel143/bitcoin_price_prediction/blob/main/bitcoin_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
src=files.upload()

Saving bit_coin_TRAIN.csv to bit_coin_TRAIN.csv

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('bit_coin_TRAIN.csv')

In [4]:
data.head(10)
target=data['Close']

In [5]:
data.describe()
data.shape

(900, 7)

In [ ]:
data.dtypes

In [6]:
data['year']=pd.DatetimeIndex(data['Date']).year
data['month']=pd.DatetimeIndex(data['Date']).month

In [7]:
data.head(40)

          Date     Open     High      Low  ...  Adj Close     Volume  year  month
0   2017-01-01   963.66  1003.08   958.70  ...     998.33  147775008  2017      1
1   2017-01-02   998.62  1031.39   996.70  ...    1021.75  222184992  2017      1
2   2017-01-03  1021.60  1044.08  1021.60  ...    1043.84  185168000  2017      1
3   2017-01-04  1044.40  1159.42  1044.40  ...    1154.73  344945984  2017      1
4   2017-01-05  1156.73  1191.10   910.42  ...    1013.38  510199008  2017      1
5   2017-01-06  1014.24  1046.81   883.94  ...     902.20  351876000  2017      1
6   2017-01-07   903.49   908.59   823.56  ...     908.59  279550016  2017      1
7   2017-01-08   908.17   942.72   887.25  ...     911.20  158715008  2017      1
8   2017-01-09   913.24   913.69   879.81  ...     902.83  141876992  2017      1
9   2017-01-10   902.44   914.87   901.06  ...     907.68  115808000  2017      1
10  2017-01-11   908.11   919.45   762.77  ...     777.76  310928992  2017      1
11  2017-01-12   775.18   826.25   755.76  ...     804.83  222326000  2017      1
12  2017-01-13   803.74   829.00   780.00  ...     823.98  168968000  2017      1
13  2017-01-14   825.14   835.09   812.46  ...     818.41   93063296  2017      1
14  2017-01-15   818.14   823.31   812.87  ...     821.80   71013600  2017      1
15  2017-01-16   821.78   834.53   820.27  ...     831.53   82755200  2017      1
16  2017-01-17   830.95   910.56   830.80  ...     907.94  155095008  2017      1
17  2017-01-18   909.37   917.50   858.30  ...     886.62  225676992  2017      1
18  2017-01-19   888.34   904.61   884.34  ...     899.07  105625000  2017      1
19  2017-01-20   898.17   899.40   887.01  ...     895.03   86728400  2017      1
20  2017-01-21   895.55   927.37   895.53  ...     921.79  111158000  2017      1
21  2017-01-22   922.21   937.53   897.56  ...     924.67  116573000  2017      1
22  2017-01-23   925.50   928.27   916.74  ...     921.01   73588600  2017      1
23  2017-01-24   910.68   924.15   892.29  ...     892.69  111349000  2017      1
24  2017-01-25   891.92   903.25   891.69  ...     901.54  120831000  2017      1
25  2017-01-26   902.40   919.33   902.22  ...     917.59  131958000  2017      1
26  2017-01-27   918.36   923.22   915.85  ...     919.75  125594000  2017      1
27  2017-01-28   919.81   923.91   919.81  ...     921.59   68979600  2017      1
28  2017-01-29   922.07   923.42   919.15  ...     919.50   60851700  2017      1
29  2017-01-30   920.15   923.05   919.47  ...     920.38   78227296  2017      1
30  2017-01-31   920.96   972.02   920.96  ...     970.40  164582000  2017      1
31  2017-02-01   970.94   989.11   970.74  ...     989.02  150110000  2017      2
32  2017-02-02   990.00  1013.52   983.22  ...    1011.80  145820992  2017      2
33  2017-02-03  1011.46  1033.87  1008.79  ...    1029.91  201278000  2017      2
34  2017-02-04  1031.33  1045.90  1015.16  ...    1042.90  155064000  2017      2
35  2017-02-05  1043.52  1043.63  1022.37  ...    1027.34  114208000  2017      2
36  2017-02-06  1028.40  1044.64  1028.16  ...    1038.15  111762000  2017      2
37  2017-02-07  1040.14  1061.93  1040.14  ...    1061.35  146007008  2017      2
38  2017-02-08  1062.32  1078.97  1037.49  ...    1063.07  201855008  2017      2
39  2017-02-09  1064.70  1088.99   953.34  ...     994.38  407220000  2017      2

[40 rows x 9 columns]

In [8]:
data['day']=data['Date'].str.split('-').str[2]

In [9]:
data.head()

         Date     Open     High      Low  ...     Volume  year  month  day
0  2017-01-01   963.66  1003.08   958.70  ...  147775008  2017      1   01
1  2017-01-02   998.62  1031.39   996.70  ...  222184992  2017      1   02
2  2017-01-03  1021.60  1044.08  1021.60  ...  185168000  2017      1   03
3  2017-01-04  1044.40  1159.42  1044.40  ...  344945984  2017      1   04
4  2017-01-05  1156.73  1191.10   910.42  ...  510199008  2017      1   05

[5 rows x 10 columns]

In [10]:
data=data.drop(['Date','Close'],axis=1)

In [11]:
data=data.astype('int')

In [12]:
data.dtypes

Open         int64
High         int64
Low          int64
Adj Close    int64
Volume       int64
year         int64
month        int64
day          int64
dtype: object

In [13]:
data.isnull().sum()

Open         0
High         0
Low          0
Adj Close    0
Volume       0
year         0
month        0
day          0
dtype: int64

In [14]:
data.head(10)

   Open  High   Low  Adj Close     Volume  year  month  day
0   963  1003   958        998  147775008  2017      1    1
1   998  1031   996       1021  222184992  2017      1    2
2  1021  1044  1021       1043  185168000  2017      1    3
3  1044  1159  1044       1154  344945984  2017      1    4
4  1156  1191   910       1013  510199008  2017      1    5
5  1014  1046   883        902  351876000  2017      1    6
6   903   908   823        908  279550016  2017      1    7
7   908   942   887        911  158715008  2017      1    8
8   913   913   879        902  141876992  2017      1    9
9   902   914   901        907  115808000  2017      1   10

In [28]:
target.astype('int')

0       998
1      1021
2      1043
3      1154
4      1013
       ...
895    8838
896    8994
897    9320
898    9081
899    9273
Name: Close, Length: 900, dtype: int64

In [29]:
from sklearn.preprocessing import MinMaxScaler

In [30]:
sacler=MinMaxScaler()
data=sacler.fit_transform(data)

In [31]:
data

array([[0.01005348, 0.00934288, 0.01114221, ..., 0.        , 0.        ,
        0.        ],
       [0.01192513, 0.01079622, 0.01322795, ..., 0.        , 0.        ,
        0.03333333],
       [0.01315508, 0.01147099, 0.01460014, ..., 0.        , 0.        ,
        0.06666667],
       ...,
       [0.43919786, 0.44601889, 0.45189088, ..., 1.        , 0.45454545,
        0.53333333],
       [0.45775401, 0.44248936, 0.45276909, ..., 1.        , 0.45454545,
        0.56666667],
       [0.4440107 , 0.43994602, 0.45639168, ..., 1.        , 0.45454545,
        0.6       ]])

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,target)

In [33]:
x_train.shape

(675, 8)

In [35]:
from sklearn.ensemble import RandomForestRegressor
ens=RandomForestRegressor(n_estimators=100,criterion='mae')
ens.fit(x_train,y_train)
ens.score(x_train,y_train)

0.9998509295340421

In [36]:
ens.score(x_train,y_train)

0.9998509295340421

In [56]:
y_pred=ens.predict(x_test)
difference_prediction=y_test-y_pred
difference_prediction.max(),difference_prediction.min(),difference_prediction.mean()

(592.1880000000128, -460.78399999998874, -2.7452035555544176)

In [57]:
difference_prediction

array([-2.110000e-01, -6.351800e+00, -2.976730e+01, -2.018960e+01,
       -3.317200e+00, -2.317000e-01, -1.022320e+01,  1.869470e+01,
        2.242000e+00, -4.607840e+02,  2.662500e+00, -1.056500e+00,
        2.037930e+01,  3.493200e+00, -2.635950e+01, -1.949200e+01,
       -5.832000e+00, -1.069400e+00, -4.313400e+00, -3.576590e+01,
       -8.842260e+01, -2.605000e+00,  9.208000e-01,  1.169990e+01,
       -4.216700e+00, -1.239300e+00,  3.925400e+00,  1.136080e+02,
       -1.144790e+01, -4.211740e+01, -3.168600e+00,  2.654500e+00,
       -2.153450e+01, -5.926900e+00, -6.451100e+00, -1.239870e+01,
        8.396100e+00, -3.415450e+01,  2.310000e-02, -1.392100e+01,
        2.665800e+00, -2.473160e+01,  1.706400e+00,  6.694190e+01,
       -2.103670e+01, -5.012500e+00, -3.739000e+01,  1.391120e+01,
       -5.662950e+01,  8.736200e+00, -4.764300e+00,  7.241370e+01,
       -1.739780e+01, -3.686230e+01, -2.194230e+01,  1.853200e+00,
       -1.525100e+01,  5.921880e+02, -4.413700e+00,  5.390000e-01,
       -2.099420e+01,  3.440000e-01,  1.578600e+00, -2.123180e+02,
        4.575800e+00, -4.745200e+00,  7.201000e-01,  8.996300e+00,
       -8.335600e+00, -3.124700e+00,  4.356000e+00, -2.775600e+00,
        3.416530e+01,  4.206800e+00, -6.676500e+00, -1.597880e+01,
        6.547700e+00, -2.310200e+01, -1.038380e+01,  1.472500e+00,
        4.916000e+00,  9.209100e+00, -1.327000e+01, -5.158800e+00,
       -4.966200e+00,  1.522070e+01,  1.776430e+01,  9.314000e-01,
        1.842600e+01, -5.774100e+00, -1.871840e+01,  1.678830e+02,
       -1.722540e+01,  2.861300e+00,  1.609650e+01,  4.879000e-01,
       -2.865280e+01,  1.348020e+01, -3.835000e+00, -1.289300e+01,
       -1.288000e+01,  9.263900e+00,  1.715830e+01,  9.687500e+00,
        4.550000e-01, -5.361530e+01, -1.032930e+01,  2.356200e+00,
        2.662470e+01,  5.481500e+00, -1.490360e+01, -1.267400e+00,
        3.964000e-01,  6.314800e+00,  8.988000e+00, -5.668700e+00,
       -1.949330e+01, -9.678000e-01,  2.751300e+00,  8.246000e+00,
       -1.386534e+02,  2.407400e+00, -1.796210e+01, -7.754600e+00,
        7.045200e+00, -3.527100e+01,  2.441300e+00,  4.879300e+00,
        2.139400e+00, -6.295630e+01, -2.594920e+01,  1.572860e+01,
        2.560900e+00,  8.545600e+00,  3.713900e+00, -4.618700e+01,
        2.584200e+00, -3.193020e+02,  1.824600e+00, -5.831300e+00,
       -4.445200e+00, -3.037900e+00,  1.864200e+00,  1.257980e+01,
        7.217000e+00,  2.374000e-01,  1.274910e+01, -1.422180e+01,
        8.212900e+00, -3.042000e-01, -6.712000e+01, -5.973800e+01,
        3.348200e+00, -6.352900e+00,  2.880720e+01,  4.925800e+00,
       -4.321300e+00, -3.771000e-01,  4.647410e+01, -2.807980e+01,
       -1.632670e+01,  4.759930e+02,  5.645200e+00,  6.404960e+01,
       -2.842100e+00,  2.839600e+00,  3.099000e+00, -2.667910e+01,
        4.239760e+01, -1.992000e+00, -1.507000e-01,  1.838199e+02,
       -1.613800e+00, -1.008110e+01, -4.850600e+00, -3.646610e+01,
        8.066600e+00,  2.859550e+01,  1.229010e+01,  1.859720e+01,
        5.575200e+00,  1.329550e+01, -1.701400e+00,  1.275870e+01,
       -4.093600e+00,  3.210200e+00, -9.436500e+00,  1.215100e+01,
       -1.351320e+01,  6.438710e+01, -1.175970e+01,  2.070100e+00,
       -8.594400e+00, -1.077870e+02, -1.750490e+01, -1.022420e+01,
        5.468480e+01, -7.552300e+00, -1.865200e+00,  7.558800e+00,
       -1.022220e+01, -2.966600e+00, -4.338080e+01, -2.032000e-01,
       -1.208000e-01, -5.560820e+01,  2.746300e+00,  2.796000e-01,
        3.770200e+00, -4.350230e+01, -3.666490e+01, -1.260201e+02,
        3.014900e+00,  5.874100e+00, -2.765900e+00, -5.256670e+01,
       -1.172200e+00, -2.418300e+00,  3.350600e+00, -1.961770e+01,
       -1.330970e+01,  1.212800e+00,  2.103770e+01, -3.318960e+01,
        7.370000e-01])